<% layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <% for(let campground of campgrounds) { %>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) { %>
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                        <% } else {%>
                            <img src="https://images.unsplash.com/photo-1441239372925-ac0b51c4c250?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG5hdHVyYWx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                                alt="" class="img-fluid">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description%>
                    </p>
                    <p class="card-text">
                        <samll class="text-muted">
                            <%= campground.location%>
                        </samll>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %>
                    </a>
                </div>
            </div>




        </div>




        <% } %>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const campgrounds = {features:<%- JSON.stringify(campgrounds) %>}

            </script>


            <script src="/javascripts/clusterMap.js"></script>